<%inherit file="/base.html"/>
<%block name="content">
<div class="form-inline mb10">
    <div class="form-group mr10">
        <label for="username">姓名：</label>
        <input type="text" class="form-control" id="username" placeholder="请输入姓名">
    </div>
    <a class="king-btn-demo king-btn king-round king-primary" title="查询">
    <i class="fa fa-search btn-icon"></i>查询
    </a>
</div>
 <div class="form-group">
<table class="bk-table has-table-bordered bk-demo">
    <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>位置</th>
            <th>日期</th>
            <th>类型</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ravi Kumar</td>
            <td>India</td>
            <td>23/12/2012</td>
            <td>Paid</td>
            <td>
                <span class="fb bk-text-success">Active</span>
            </td>
            <td>
                <a href="javascript:void(0);" class="bk-text-button">保存</a>
                <a href="javascript:void(0);" class="bk-text-button">编辑</a>
                <a href="javascript:void(0);" class="bk-text-button">删除</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ravi Kumar</td>
            <td>India</td>
            <td>23/12/2012</td>
            <td>Paid</td>
            <td>
                <span class="fb bk-text-danger">Banned</span>
            </td>
            <td>
                <a href="javascript:void(0);" class="bk-text-button">保存</a>
                <a href="javascript:void(0);" class="bk-text-button">编辑</a>
                <a href="javascript:void(0);" class="bk-text-button">删除</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ravi Kumar</td>
            <td>India</td>
            <td>23/12/2012</td>
            <td>Paid</td>
            <td>
                <span class="fb bk-text-success">Active</span>
            </td>
            <td>
                <a href="javascript:void(0);" class="bk-text-button">保存</a>
                <a href="javascript:void(0);" class="bk-text-button">编辑</a>
                <a href="javascript:void(0);" class="bk-text-button">删除</a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Ravi Kumar</td>
            <td>India</td>
            <td>23/12/2012</td>
            <td>Paid</td>
            <td>
                <span class="fb bk-text-success">Active</span>
            </td>
            <td>
                <a href="javascript:void(0);" class="bk-text-button">保存</a>
                <a href="javascript:void(0);" class="bk-text-button">编辑</a>
                <a href="javascript:void(0);" class="bk-text-button">删除</a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ravi Kumar</td>
            <td>India</td>
            <td>23/12/2012</td>
            <td>Paid</td>
            <td>
                <span class="fb bk-text-danger">Banned</span>
            </td>
            <td>
                <a href="javascript:void(0);" class="bk-text-button">保存</a>
                <a href="javascript:void(0);" class="bk-text-button">编辑</a>
                <a href="javascript:void(0);" class="bk-text-button">删除</a>
            </td>
        </tr>
    </tbody>
</table>
 </div>
</%block>