<%inherit file="/base.html"/>
<%block name="content">
<div class="form-inline mb10">
    <div class="form-group mr10">
        <label for="username">姓名：</label>
        <input type="text" class="form-control" id="username" placeholder="请输入姓名">
    </div>
    <a class="king-btn-demo king-btn king-round king-primary" title="查询" id="searchBtn">
    <i class="fa fa-search btn-icon"></i>查询
    </a>
</div>
 <div class="form-group">
<table class="bk-table has-table-bordered bk-demo">
    <thead>
        <tr>
            <th>姓名</th>
            <th>登录名</th>
            <th>手机号码</th>
            <th>邮件</th>
            <th>分组</th>
            % if is_admin:
                <th>角色</th>
                <th>操作</th>
            %endif
        </tr>
    </thead>
    <tbody>
    % for user in result_users:
        <tr>
            <td>${user.get('username')}</td>
            <td>${user.get('loginname')}</td>
            <td>${user.get('mobile')}</td>
            <td>${user.get('email')}</td>
            <td>${user.get('group_id')}</td>
            % if is_admin:
            <td>
                % if user.get('role')==1:
                 管理员
                % else:
                 普通用户
                % endif
            </td>
            <td>
                <button class="king-btn-demo king-btn king-round king-warning" title="配置">
                    <i class="fa fa-cog btn-icon"></i>修改
                </button>
            </td>
            % endif
        </tr>
    % endfor
    </tbody>
</table>
 </div>
<script>
    $('#searchBtn').bind('click',function(){
        window.location.href='${SITE_URL}?username='+$('#username').val();
    });
</script>
</%block>