<%inherit file="/base.html"/>
<%block name="content">
<div class="tab-box" id="myTab3">
    <ul class="nav nav-tabs king-nav-tabs2">
        <li class="active">
            <a href="#tab3_1" data-toggle="tab" id="personalTab" aria-expanded="false">个人排班统计</a>
        </li>
        <li class="">
            <a href="#tab3_2" data-toggle="tab" id="groupTab" aria-expanded="false">分组排班统计</a>
        </li>
    </ul>
    <div class="tab-content mb20">
        <div class="tab-pane fade active in" id="tab3_1">
             <div class="form-group">
                <label class="col-sm-2 control-label">姓名：</label>
                <div class="col-sm-5">
                    <select name="" id="username" class="form-control">
                        % for user in users:
                           <option value="${user.id}">${user.username}</option>
                        % endfor
                    </select>
                </div>
            </div>
            <p style="padding:15px;">
                <div id="personalStatistics" style="height:400px;border:1px solid #ccc;"></div>
            </p>
        </div>
        <div class="tab-pane fade" id="tab3_2">
             <div class="form-group">
                <label class="col-sm-2 control-label">分组：</label>
                <div class="col-sm-5">
                    <select name="" id="group" class="form-control">
                        % for group in groups :
                           <option value="${group.id}">${group.name}</option>
                        % endfor
                    </select>
                </div>
            </div>
            <p style="padding:15px;">
               <div id="groupStatistics" style="height:400px;border:1px solid #ccc;"></div>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    function createEBarChart(conf){
        var myChart = echarts.init(document.getElementById(conf.selector));
        var legendData = [];//存放变量的name
        for(var i = 0; i < conf.data.series.length; i++){
            legendData.push(conf.data.series[i].name);
        }
        myChart.setOption({
            legend: {
                y: 'bottom',
                data:legendData
            },
            tooltip : {
                trigger: 'axis'
            },
            toolbox: {
                show : true
            },
            calculable : true,
            yAxis : [
                {
                    type : 'value',
                    splitArea : {show : true}
                }
            ],
            xAxis : conf.data.xAxis,
            series : conf.data.series
        })
    }
    function initEBarChart(conf){
        $.ajax({
            url: "${SITE_URL}api/schedule/statistics",
            type: 'post',
            data:conf.data,
            success: function(res){
                //获取数据成功
                if (res.result){
                    createEBarChart({
                        selector: conf.containerId, // 图表容器
                        data: res.data, // 图表数据
                    });
                }
            }
        })
    }
    $(function(){
        $('#personalTab').bind('click', function () {
            initEStandLineChart({
                url: '${SITE_URL}api/schedule/statistics',
                data: {'user_id': $('#username').val()},
                containerId: 'personalStatistics'
            });
        })
        $('#groupTab').bind('click', function () {
            initEBarChart({
                url: '${SITE_URL}api/schedule/statistics',
                data: {'group_id': $('#group').val()},
                containerId: 'groupStatistics'
            });
        });
        $('#username').bind('change', function () {
            initEStandLineChart({
                url: '${SITE_URL}api/schedule/statistics',
                data: {'user_id': $(this).val()},
                containerId: 'personalStatistics'
            });
        })
        $('#group').bind('change', function () {
            initEBarChart({
                url: '${SITE_URL}api/schedule/statistics',
                data: {'group_id': $(this).val()},
                containerId: 'groupStatistics'
            });
        })
        initEStandLineChart({
            url: '${SITE_URL}api/schedule/statistics',
            data: {'user_id': $('#username').val()},
            containerId: 'personalStatistics'
        });
    });

     function createEStandLineChart(conf){
        var myChart = echarts.init(document.getElementById(conf.selector));
        var legendData = []
        for(var i=0; i < conf.data.series.length;i++){
            legendData.push(conf.data.series[i].name)
        }
        myChart.setOption({
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                y: 'bottom',
                data:legendData
            },
            toolbox: {
                show : true
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : conf.data.xAxis
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    splitArea : {show : true}
                }
            ],
            series : conf.data.series
        });
     }
    function initEStandLineChart(conf){
        $.ajax({
            url: conf.url,
            type: 'POST',
            data: conf.data,
            success: function(res){
                //获取数据成功
                if (res.result){
                    createEStandLineChart({
                        selector: conf.containerId, // 图表容器
                        data: res.data, // 图表数据
                    });
                }
            }
        })
    }

</script>
</%block>