<%inherit file="/base.html"/>
<%block name="content">
<form action="${SITE_URL}api/schedule/upload" method="POST" enctype="multipart/form-data">

    <div class="form-group mr10 mt10">
        <input type="file" name="file" class="file" id="fileField" size="28"/>
    </div>
    <div class="form-group mr10 mt10">
        <button class="king-btn-demo king-btn king-round king-success " type="submit" name="submit">上传</button>
    </div>
</form>
 <div class="form-group">
<table class="bk-table has-table-bordered bk-demo">
    <thead>
        <tr>
            <th></th>
            <th width="15%">周日</th>
            <th width="15%">周一</th>
            <th width="15%">周二</th>
            <th width="15%">周三</th>
            <th width="15%">周四</th>
            <th width="15%">周五</th>
            <th width="15%">周六</th>
        </tr>
    </thead>
    <tbody>
       % for scheduled in scheduled_list:
     <tr>
            <td>
                <p>${scheduled.get('time')}</p>
                % for group in scheduled.get('groups'):
                <p>${group}</p>
                % endfor
            </td>
            <td>
                  % if scheduled.get('week0'):
                    % for week in scheduled.get('week0'):
                    <p>${week}</p>
                    % endfor
                 % endif
            </td>
            <td>
                  % if scheduled.get('week1'):
                    % for week in scheduled.get('week1'):
                    <p>${week}</p>
                    % endfor
                 % endif
            </td>
             <td>
                    % if scheduled.get('week2'):
                        % for week in scheduled.get('week2'):
                        <p>${week}</p>
                        % endfor
                   % endif
            </td>
          <td>
                  % if scheduled.get('week3'):
                    % for week in scheduled.get('week3'):
                    <p>${week}</p>
                    % endfor
                  % endif
            </td>
          <td>
               % if scheduled.get('week4'):
                % for week in scheduled.get('week4'):
                <p>${week}</p>
                % endfor
               % endif
            </td>
          <td>
              % if scheduled.get('week5'):
                % for week in scheduled.get('week5'):
                <p>${week}</p>
                % endfor
              % endif
            </td>
          <td>
              % if scheduled.get('week6'):
                % for week in scheduled.get('week6'):
                <p>${week}</p>
                % endfor
              % endif
            </td>
        </tr>
    % endfor
    </tbody>
</table>
<script>
    $('#searchBtn').bind('click',function(){
        window.location.href='${SITE_URL}?username='+$('#username').val();
    });
</script>
</%block>